// Common variable
// Color
$color-blue: #228be6;
$color-pink: #f06595;
$color-gray: #cccccc;
$color-froly: #f26d6d;
$color-concrete: #f2f2f2;

:export {
  color-blue: $color-blue;
  color-pink: $color-pink;
  color-gray: $color-gray;
  color-froly: $color-froly;
  color-concrete: $color-concrete;
}
